<!--We should determine what else we want to display here like names or whatever-->
<% if @conversations.length > 0%>
	<%@conversations.each do |conversation|%>
		<%= conversation.last_message.body%>
		<%= render :partial => "message", :locals => {:cID => conversation.id}%>
		<button class="btn btn-info" data-toggle="modal" data-target="#message-modal-<%=conversation.id.to_s%>" href = "#message-modal">Reply</button>
		<br />
	<%end%>
<%else%>
	No conversations
<%end%>