<div class="modal hide fade" id="message-modal">
	<div class="modal-header">
		<button class="close" data-dismiss="modal">&times;</button>
		<h3>Send <%=@user.firstName%> a message</h3>
	</div>
	<div class="modal-body">
		<%=form_for Message.new do |f|%>
			Message Body
			<br />
			<%=f.text_area :body, :style => "width:75%"%>
		<%end%>
	</div>
</div>