<script src="//connect.facebook.net/en_US/all.js"></script>

<h1>Login</h1>

<center>

<form method="POST" action="/fb_registration/Remember">
  E-mail: <input type="text" name="user" size="15" /><br />
  Password: <input type="password" name="pass" size="15" /><br />
  <div align="center">
    <p><input type="submit" value="Login" /></p>
  </div>
</form>

</center>

<div id="fb-root"></div>
<script>(function(d, s, id) {
		 var js, fjs = d.getElementsByTagName(s)[0];
		 if (d.getElementById(id)) return;
		 js = d.createElement(s); js.id = id;
		 js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=258011107615370";
		 fjs.parentNode.insertBefore(js, fjs);
		 }(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-login-button" data-show-faces="false" data-width="200" data-max-rows="1"></div>


<div class="row-fluid">
	<div class="span12"><%= render 'layouts/footer' %></div>		   	  		
</div>

