<script src="//connect.facebook.net/en_US/all.js"></script>

<div class="transparent-background">
	<div class="body-wrapper">
		<div style="margin-left:auto;margin-right:auto;">
			<center>
				<h1 style="margin-bottom:2%;">Login</h1>
				<form method="POST" action="/fb_registration/Remember">
  					<span id="email-login">E-mail: <input type="text" name="user" size="15" /><br /></span>
  					Password: <input type="password" name="pass" size="15" /><br />
  					
    					<p><input type="submit" value="Login" /></p>
				</form>
			</center>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span12"><%= render 'layouts/footer' %></div>		   	  		
</div>

