<h1>Login</h1>

<center>

<form method="POST" action="/fb_registration/Remember">
  E-mail: <input type="text" name="user" size="15" /><br />
  Password: <input type="password" name="pass" size="15" /><br />
  <div align="center">
    <p><input type="submit" value="Login" /></p>
  </div>
</form>

</center>
