<%if params["efail"]%>
	<script type ="text/javascript">
		alert("Invalid College E-mail Address");
	</script>
<%end%>

<%if params["exist"]%>
	<script type ="text/javascript">
		alert("This email is already being used");
	</script>
<%end%>

<%if params["pfail"]%>
	<script type ="text/javascript">
		alert("Passwords Do Not Match");
	</script>
<%end%>

<div class="transparent-background">
	<div class="body-wrapper">
		<h1>Register</h1>
		<form class="well form-inline" action="SaveUser" method="post">
			<fieldset>
			<div class="control-group">Full name: <input type="text" value= "<%=params["name"]%>" name="name" /></div>
			<div class="control-group">Email: <input type="text" value= "<%=params["email"]%>" name="email" /></div>
			<div class="control-group">Vidactica Password: <input type="password" name="password" /></div>
			<div class="control-group">Re-Enter Password: <input type="password" name="passwordAgain" /></div>	
			<input class="btn" type="submit" value="Submit" />	
			</fieldset>
		</form>
	</div>
</div>
