.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
	height:100%;
}

html, body {height:100%; margin:0; padding:0;}

body {
  background: #ECEEF0 url(/images/bg_body.jpg);
	border: 0;
}

header {
	height: 92px;
	background: #4A5C5C 0px 30px repeat-x url(/images/bg_header.jpg);
}

header h1
{
	float: left;
	margin-top: 1.2cm;
	margin-left: 1cm;
	font-family: 'Shadows Into Light Two', cursive;
	font-weight: bold;
	color:#FFFFFF;
}

section {
  font-size: 120%;
  display:block;
  height:51.5%;
}

section h1 {
  font-size: 200%;
  font-family: 'Shadows Into Light Two', cursive;
}

#lowHeaderPos
{
	float: left;
	margin-top: 5%;
	width: 40%;
	margin-left: 4cm;
}

#highHeaderPos
{
	float: left;
	margin-left: 3cm;
	margin-top: 1cm;
}

/* Links */

a {
  color: #09c;;
  text-decoration: none;
}

a:hover {
  color: #069;
}

a:visited {
  color: #069;
}

header .h_navigation {
  	position: absolute;
		right: 10px;
		top: 46px;
		width: 760px;
		height: 100px;
		/*float: right;*/
}

header .h_navigation ul{
  float: right;
  /*padding: 0 0.7em;*/
  /*white-space: nowrap;*/
}

header .h_navigation ul li {
	float: left;
	list-style-type: none;
	/*list-style-type: none;
	  display: inline-block;
	  padding: 0.2em 0;*/
}

header .h_navigation ul li a {
  display: block;
		padding: 8px 3px 8px 3px;
		margin: 0 8px 0 8px;
		color: #fff;
		font-weight: normal;
		line-height: 14px;
		text-transform: uppercase;
		text-decoration: none;
		text-shadow: 0px -1px 3px #162F43;
		text-align: center;
		/*padding: 0 10px;
  		font-weight: bold;
  		color: #FFFFFF;*/
}

header .h_navigation ul li a:visited {
  color: #FFFFFF;
  padding: 5px ;
  background: #4A5C5C;
}

header .h_navigation ul li a:hover {
  color:#F0E68C;
}

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
  background: #4A5C5C;
}

footer {
  /*margin-top: 490px;
  margin-left: auto;
  margin-right: auto;*/
  display:block;
  background: #4A5C5C repeat-x url(/images/footer_strip.png);
}

#introLines .SmallFont
{
	font-family: 'Oldenburg', cursive;
}

#introLines
{
	float: left;
	width: 40%;
	margin-left: 4cm;
}

.fb-login-button
{
	float: left;
	width: 30%;
	margin-left: 4cm;
}
header .fb-like
{
	position: absolute;
	right: 0px;
	top: 4px;
}

/*#video1
{	
	position: relative;
	top: 120px;left: 90px;	
}*/

#video2
{
	position: relative;
	top: 120px;left: 110px;
}
#video3
{
	position: relative;
	top: 120px;left: 130px;
}

#homepic
{
	float: right;
	width: 40%;
	margin-top: -3cm;
	padding-bottom:1%;
}

footer .row-fluid .span4
{
	text-align:center;
}

footer .row-fluid .span4 h2
{
	font-family: 'Macondo Swash Caps', cursive;
	font-size:170%;
}

footer .row-fluid .span4 h2 a
{
	color: #FFFFFF;
}

footer .row-fluid .span4 h2 a:hover {
  	color:#F0E68C;
}

footer .row-fluid .span4 p
{
	font-family: 'Oldenburg', cursive;
	font-size:120%;
}
