.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
	height:100%;
	min-width:100px;
}

html, body 
{
	height:100%; 
	margin:0; 
	padding:0;
	min-height:500px;
	min-width:500px;
}

body {
  background: #ECEEF0 url(/images/bg_body.jpg);
	border: 0;
}


.wrapper 
{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto;
	position:relative;
}


header {
	height: 92px;
	background: #4A5C5C 0px 30px repeat-x url(/images/bg_header.jpg);
}

header h1
{
	float: left;
	margin-top: 1.2cm;
	margin-left: 1cm;
	font-family: 'Shadows Into Light Two', cursive;
	font-weight: bold;
	color:#FFFFFF;
}

section {
  font-size: 120%;
  display:block;
  padding-bottom:239px; 
}

section h1 {
  font-size: 200%;
  font-family: 'Shadows Into Light Two', cursive;
  margin-top:2%;
  display:block;
}

#lowHeaderPos
{
	float: left;
	margin-top: 12%;
	margin-left: 11%;
}

#highHeaderPos
{
	float: left;
	margin-left: 3cm;
	margin-top: 1cm;
}

section .post-questions .drop-down
{
	margin-top:2%;
}

section .answer-questions .drop-down
{
	margin-top:4.5%;
}

section h1, section .drop-down
{
	margin-left:2%;
}

/* Links */

a {
  color: #09c;;
  text-decoration: none;
}

a:hover {
  color: #069;
}

a:visited {
  color: #069;
}

header .h_navigation {
  	position: absolute;
		right: 10px;
		top: 46px;
		width: 760px;
		height: 100px;
		/*float: right;*/
}

header .h_navigation ul{
  float: right;
	margin:0;
	margin-top: 1%;
	width:50%;
  /*padding: 0 0.7em;*/
  /*white-space: nowrap;*/
}

header .h_navigation ul li {
	float: left;
	list-style-type: none;
	padding-right:6%;
	/*list-style-type: none;
	  display: inline-block;
	  padding: 0.2em 0;*/
}

header .h_navigation ul li a 
{
  		display: inline;
		padding: 10px 5px 10px 5px;
		margin: 0 2px 0 0px;
		color: #fff;
		font-weight: normal;
		line-height: 14px;
		text-transform: uppercase;
		text-decoration: none;
		text-shadow: 0px -1px 3px #162F43;
		text-align: left;
		font-size: 112%;
}

header .h_navigation ul li a img
{
	float:left;
}

header .h_navigation ul li a b
{
	float:center;
}

header .h_navigation ul li a:hover {
  color:#F0E68C;
}

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
  background: #4A5C5C;
}

footer 
{
    background: #4A5C5C repeat-x url(/images/footer_strip.png);
	position:absolute;
	bottom:0;
	width:100%;
}

#introLines .SmallFont
{
	font-family: 'Oldenburg', cursive;
}

#introLines
{
	float: left;
	margin-top:2%;
	margin-left: 12%;
}

.fb-login-button
{
	float: left;
	margin-top:2%;
	margin-left: 12%;
}
header .fb-like
{
	position: absolute;
	right: 0px;
	top: 4px;
}

.videos
{
	margin-top:1%;
	margin-left:1%;
}

#slider
{
	float:left;
}

footer .row-fluid .span4
{
	text-align:center;
}

footer .row-fluid .span4 h2
{
	font-family: 'Macondo Swash Caps', cursive;
	font-size:170%;
}

footer .row-fluid .span4 h2 a
{
	color: #FFFFFF;
}

footer .row-fluid .span4 h2 a:hover {
  	color:#F0E68C;
    text-decoration: none;
}

footer .row-fluid .span4 p
{
	font-family: 'Oldenburg', cursive;
	font-size:120%;
}