.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
	min-height:100%;
	width:100%;
	padding-bottom:0px;
	margin-bottom:0px;
}

html, body 
{
	height:100%; 
	margin:0; 
	padding:0;
	min-height:500px;
	min-width:500px;
}

body {
  background: #ECEEF0 url(/images/bg_body.jpg);
	border: 0;
}


.wrapper 
{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto;
	position:relative;
}


header {
	height: 92px;
	background: #4A5C5C 0px 30px repeat-x url(/images/bg_header.jpg);
}

header h1
{
	float: left;
	font-family: 'Shadows Into Light Two', cursive;
	font-weight: bold;
	color:#FFFFFF;
}

header .row-fluid
{
	position:relative;
	top: 1.2cm;
}

section {
  font-size: 120%;
  display:block; 
}

.border-padding
{
	padding-bottom:239px;
}

section h1 {
  font-size: 200%;
  font-family: 'Shadows Into Light Two', cursive;
  display:block;
}

#lowHeaderPos
{
	float: left;
	margin-top: 12%;
	/*margin-left: 11%;*/
}

#highHeaderPos
{
	float: left;
	margin-left: 3cm;
	margin-top: 1cm;
}

section .post-questions .drop-down
{
	margin-top:2%;
}

section .answer-questions .drop-down
{
	margin-top:4.5%;
}

section h1, section .drop-down
{
	margin-left:2%;
}

/* Links */

a {
  color: #09c;;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: none;
}

a:visited {
  color: #069;
}
/*
header .h_navigation {
  	position: absolute;
		right: 10px;
		top: 46px;
		width: 760px;
		height: 100px;
		/*float: right;*/
}
/*
header .h_navigation ul{
  float: right;
	margin:0;
	margin-top: 1%;
	width:50%;
  /*padding: 0 0.7em;*/
  /*white-space: nowrap;
}

header .h_navigation ul li {
	float: left;
	list-style-type: none;
	padding-right:6%;
	/*list-style-type: none;
	  display: inline-block;
	  padding: 0.2em 0;
}

header .h_navigation ul li a 
{
  		display: inline;
		padding: 10px 5px 10px 5px;
		margin: 0 2px 0 0px;
		color: #fff;
		font-weight: normal;
		line-height: 14px;
		text-transform: uppercase;
		text-decoration: none;
		text-shadow: 0px -1px 3px #162F43;
		text-align: left;
		font-size: 112%;
}*/
/*
header .h_navigation ul li a img
{
	float:left;
}

header .h_navigation ul li a b
{
	float:center;
}*/

header .nav ul li a:hover {
  color:#F0E68C;
}

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
  background: #4A5C5C;
}

#tiny-footer
{
	position:absolute;
	bottom:0;
	width:100%;
	height:30px;
	background: #4A5C5C repeat-x;
}

footer 
{
    background: #4A5C5C repeat-x url(/images/footer_strip.png);
	position:absolute;
	bottom:30px;
	width:100%;
}

#introLines .SmallFont
{
	font-family: 'Oldenburg', cursive;
}

#introLines
{
	float: left;
	margin-top:2%;
	margin-left: 2%;
}

.fb-login-button
{
	float: left;
	margin-top:2%;
	margin-left: 0%;
}
header .fb-like
{
	position: absolute;
	right: 0px;
	top: 4px;
}

.videos
{
	margin-top:1%;
	margin-left:1%;
}

#slider
{
	float:left;
}

footer .row-fluid .span4
{
	text-align:center;
}

footer .row-fluid .span4 h2
{
	font-family: 'Macondo Swash Caps', cursive;
	font-size:170%;
	color: #FFFFFF;
}

/*footer .row-fluid .span4 h2 a:hover {
  	color:#F0E68C;
    text-decoration: none;
}*/

footer .row-fluid .span4 p
{
	font-family: 'Oldenburg', cursive;
	font-size:120%;
}

.inline
{
	display:inline;
}

/*ul.nav.pull-right
{
	position: relative;
	right: 10%;
}*/

.nav > li > a
{
	display:inline;
	background-color:transparent;
	position:relative;
	right:5%;
	font-size:117%;
}

.nav > li > a b
{
	position: relative;
	top: 3px;
	left: 5px;
}
#home-nav
{
	margin-right:10%;
}
.nav > li > a:hover
{
	background-color:transparent;
}

.nav > li > a:hover b
{
	color:#F0E68C;
}

.nav > li > a b
{
	color: #fff;
}

b.uppercase
{
	text-tranform:uppercase;
}

h1.uppercase
{
	text-tranform:uppercase;
}
.partition-line
{
	margin-left:2%;
	margin-right:2%;
	margin-top:3%;
	height:20px;
	background: center bottom no-repeat url(/images/partition.png);
}

.row-fluid .span6
{
	margin-left:0%;
}

.navbar-inner 
{
	background-image: url(/images/navbar.png);
	background-repeat:repeat-x;
	border-radius:0px;
}

.navbar .brand
{
	font-family: 'Shadows Into Light Two', cursive;
	font-size:131%;
	padding-top:15px;
}

.transparent-background
{
	width:950px;
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
	margin-bottom:0px;
	background-color: rgb(255,255,255);
	/* RGBa with 0.6 opacity */
	background-color: rgba(255, 255, 255, 0.6);
}

.transparent-background h1
{
	padding-top:3%;
}

.body-wrapper
{
	width:900px;
	margin-left:auto;
	margin-right:auto;
}

.profile-pic img
{
	height:160px;
	width:190px;
	margin-bottom:5%;
	-moz-border-radius:    10px;
	-webkit-border-radius: 10px;
  	border-radius:         10px;
}

#profile-name
{
	margin-left:0;
	padding-top:4%;
	margin-top:0;
}

.navbar
{
	margin-bottom: 0px;
}

.navbar .dropdown-menu {
 margin-top: 0px;
}

ul.nav li.dropdown:hover ul.dropdown-menu{
    display: block;    
}

textarea
{
	width:500px;
	height:100px;
}

.nivoSlider img
{
	height:288px;
	width:462px;
}