<div id="landingPageBlueTop"></div>
<div class="transparent-background">
	<div class="body-wrapper">
		<h2 class="center darkblue nunito700" style="padding-top:2%;">Vidactica Tour</h2>
		<ol id="tourList" class="upper-roman">
			<li><a href="#tour-post">Posting your conversation topic</a></li>
			<li><a href="#tour-choose">Browsing and answering other users' topics</a></li>
			<li><a href="#tour-myconversations">Managing your conversations</a></li>
			<li><a href="#tour-schedule">Scheduling a conversation</a></li>
			<li><a href="#tour-vidacticoins">Vidacticoins (coming soon...)</a></li>
		</ol>
		<div id="tourImageList">
			<a name="tour-post"><img src="/images/Tour-Posting.png" /></a>
			<a name="tour-choose"><img src="/images/Tour-Choose Post.png" /></a>
			<a name="tour-myconversations"><img src="/images/Tour-My Conversations.png" /></a>
			<a name="tour-schedule"><img src="/images/Tour-Schedule.png" /></a>
			<a name="tour-vidacticoins"><img style="margin-bottom:6%" src="/images/Tour-Vidacticoins.png" /></a>
		</div>
	</div>
</div>