<h1>Ask for Advice</h1>

<div class="post-questions">
<div class="drop-down">
Choose a category in Entrepreneurship:
<select>
  <option>Tactics for finding Investors</option>
  <option>Negotiating with VCs</option>
  <option>Venture Capital: To Raise or Not to Raise?</option>
  <option>How to Finance a new Venture</option>
</select>
<input type="submit" value="Select" /><br />
</div>

Post a Question: <input type="text" name="question" /><br />
<input type="submit" value="Submit" />

</div>