<h1>Profile</h1>
<a href = "/pages/editBio">Edit Me</a>
<br>
<br>
Rank: <%= @user.rank %> / 5
<br>
Number of Sessions: <%= @user.sessions %>
<br><br>
Description:
<%= @profile.blurb %>
	
<br>
Image:
<br>



