<h1>Pages#fb_login</h1>

<iframe src="https://www.facebook.com/plugins/registration.php?
             client_id=258011107615370&
             redirect_uri=http://vidactica.heroku.com
             fields=name,email,password"
        scrolling="auto"
        frameborder="no"
        style="border:none"
        allowTransparency="true"
        width="100%"
        height="330">
</iframe>
