<div class="transparent-background">
	<div class="body-wrapper">
	<h1>Edit Profile</h1>
	<% u = User.where({:email => cookies[:email], :password => cookies[:pass]}) %>
	<% u = u[0] %>
	<%profile = u.profile %>

	<%= form_for :profile, :url => "/pages/submitProfile", :html => { :multipart => true } do |form| %>
		<div><%= form.file_field (:picture) %></div>
		Description:
		<div><%= form.text_area ( :blurb ) %></div>
	
		<div><%= submit_tag ("Submit") %></div>
		<% end %>
	</div>
</div>


	

