<h1>Provide Words of Wisdom</h1>

<div class="answer-questions">
	<div class="drop-down">
		Choose a topic in Entrepreneurship:
		<form name="input" action="/pages/getCategory?method=post"" method="post">
			<select name="category">
  				<option value="1">Tactics for finding Investors</option>
  				<option value="2">Negotiating with VCs</option>
  				<option value="3">Venture Capital: To Raise or Not to Raise?</option>
  				<option value="4">How to Finance a new Venture</option>
			</select>
			<input type="submit" value="Search" />
		</form>

		<div class="questions">
			<br /><p><u><b>Recent Questions:</u></b></p>

			<%if @questions != nil || @cat == 0%>
				<%length = @questions.length-1%>
				<%for i in 0...5%>
					<%if (length - i) >= 0%>
						<% q = @questions[length-i] %>
						<% u = User.new %>
						<% if q.user_id == -1 %>
						<%u.id = -1 %>
						<% name = "Guest" %>
						<% else %>
						<% u = User.find(q.user_id) %>
						<% name = u.name %>
						<% end %>
						<p><b>User:</b> <%= name %><br />
						<%= q.question%> <form action="/tok/GiveChatRoom" method= "get"><input type = "hidden" name = "qID" value = "<%= q.id %>" /><input type = "hidden" name = "askID" value = "<%= u.id %>" /><input type="submit" value="Answer" /></form></p>
				<br>
			<%end%>
		<%end%>	
	<%end%>
	<% Rails.cache.write("Category", 0)%>
		</div>
	</div>
</div>
