<h1>Provide Words of Wisdom</h1>

<div class="drop-down">
Choose a topic in Entrepreneurship:
<select>
  <option>Tactics for finding Investors</option>
  <option>Negotiating with VCs</option>
  <option>Venture Capital: To Raise or Not to Raise?</option>
  <option>How to Finance a new Venture</option>
</select>
<input type="submit" value="Search" />
</div>

<div class="questions">
<br /><p><u><b>Recent Questions:</u></b></p>

<div id="Q1">
<p><b>User:</b> TanTan<br />
Product related to Q&A sector. Targeting people with knowledge in entrepreneurship and time to help. Who to invite for beta round?</p>
</div>

<div id="Q2">
	<p><b>User:</b> TanTan<br />
	Product related to Q&A sector. Targeting people with knowledge in entrepreneurship and time to help. Who to invite for beta round?</p>
	</div>

<div id="Q3">
	<p><b>User:</b> TanTan<br />
	Product related to Q&A sector. Targeting people with knowledge in entrepreneurship and time to help. Who to invite for beta round?</p>
	</div>
</div>