<div id="lowHeaderPos">
	<h1>Online advice now has a face and voice!</h1>
</div>
<div class="SmallFont">
	<p>Have live video chat conversations with knowledgeable<br /> individuals who provide you with valuable advice.</p>
</div>
<div id="homepic"><%= image_tag("HomePicture.png", :class => "round", :width => "400") %></div>

<<<<<<< HEAD


<div class="fb-login-button" data-show-faces="false" data-width="200" data-max-rows="2"></div>
=======
<div class="fb-login-button">
	<%= image_tag("signup-facebook-md.png", :class => "round", :width => "250") %>
</div>
>>>>>>> f398175804fd844e6344aaf8bf2902eec4c014b6


