<div id="lowHeaderPos">
	<h1>Online advice now has a face and voice!</h1>
</div>
<div class="SmallFont">
	<p>Have live video chat conversations with knowledgeable<br /> individuals who provide you with valuable advice.</p>
</div>
<div id="homepic"><%= image_tag("HomePicture.png", :class => "round", :heoght => "400", :width => "400") %></div>
<div id="fb-root"></div>
<div class="fb-login-button">Login with Facebook</div>
