<div id="lowHeaderPos">
	<h1>Online advice now has a face and voice!</h1>
</div>
<div class="SmallFont">
	<p>Have live video chat conversations with knowledgeable<br /> individuals who provide you with valuable advice.</p>
</div>
<div id="homepic"><%= image_tag("HomePicture.png", :class => "round", :width => "400") %></div>

<div class="fb-login-button">
	<a href = "/fb_registration/FbLogin">
	<%= image_tag("signup-facebook-md.png", :class => "round", :width => "250") %>
	</a>
</div>



