<div class="row-fluid">
	<div class="span6">
		<div id="lowHeaderPos">
			<h1>Online advice now has a face and voice!</h1>
		</div>
		<div id="introLines">
			<p class="SmallFont">Have live video chat conversations with knowledgeable<br /> individuals who provide you with valuable advice.</p>
		</div>
		<div class="fb-login-button">
			<a href = "/fb_registration/FbLogin">
			<%= image_tag("signup-facebook-md.png", :width => "250") %>
			</a>
		</div>
	</div>
	<div class="span6" style="margin-left:0;">
		<div id="slider" class="nivoSlider">
			<img src="images/Conversation1.png" alt="" />
			<img src="images/Conversation2.png" alt="" />
			<img src="images/Conversation3.png" alt="" />
		</div>
	</div>
</div>


