<%if params["offline"]%>
<script type ="text/javascript">
	alert("It seems that that user has gone offline");
</script>
<%end%>

<%if params["schedule"].to_i == 1%> 
<script type ="text/javascript">
	alert('Your choices were sent');
	</script>
<%end%>

<%if params["sent"]%>
<script type ="text/javascript">
	alert("Your preference has been saved");
</script>
<%end%>


<%= render :partial => "schedule"%>
<div id="landingPageBlueTop"></div>
<div class="transparent-background">
	<div class="body-wrapper">
		<div class="tabbable" id="myconversations">
			<ul class="nav nav-tabs">
		  		<li class="active"><a href="#upcoming" data-toggle="tab">Upcoming Conversations</a></li>
		  		<li><a href="#past" data-toggle="tab">Past Conversations</a></li>
			</ul>
			
			
			<div class="tab-content">
				<div class="tab-pane fade in active" id="upcoming">
					<div class="row-fluid">
						<%= render :partial => "pendingQuestions"%>					
						<!-- DIVIDE OCCURS HERE -->
						<%= render :partial => "confirmedQuestions"%>
					</div>
				</div>
				<%= render :partial => "pastConversations"%>
			</div>
	</div>
</div>

<script type ="text/javascript">
	var times = $("*[name='timeDiv']");
	var hasInnerText = (document.getElementsByTagName("body")[0].innerText != undefined) ? true : false;
	for(i = 0; i < times.length; i++){
		var appointment = times[i];
		if(!hasInnerText){
			appointment.textContent = dateFormat(new Date(appointment.textContent), 'mmmm dd yyyy hh:MM tt Z');
		}else{
			appointment.innerText = dateFormat(new Date(appointment.innerText), 'mmmm dd yyyy hh:MM tt Z');
		}
	}
	
</script>
