<div id="landingPageBlueTop"></div>
<div class="transparent-background">
	<div class="body-wrapper">

<div class="priv-pol-section">
	<h2>Privacy Policy</h2>
</div>

<div class="priv-pol-section">
<b>Chat and Notes privacy</b>
<p>Vidactica may log the contents of your chats, your IP address, and the IP addresses of your chat partners. Select messages may be read to improve Vidactica's anti-spam software, or for other quality control purposes. Also, messages which are flagged as spam will be stored indefinitely.
We will not share your chat logs or notes with a third party unless you or your chat partner choose to share them, except for valid law enforcement reasons. Also, understand that strangers can potentially tell others anything you tell them.</p>
</div>

<div class="priv-pol-section">
<b>Information made available to other chat users</b>
<p>Information you provide us about yourself and add to your profile, such as your name and age will be available for public viewing. 
Vidactica video chat requires a direct connection to be made between your computer and the other user's computer. To do this, it is necessary to make your IP address available to the other user's computer, although it is not shown to the other user by Vidactica's interface. This is a necessary part of how any P2P video chat system functions.</p>
</div>

<div class="priv-pol-section">
<b>Email Notices</b>
<p>You will receive emails from us to let you know when you have received a scheduling request or confirmation.</p>  
</div>

<div class="priv-pol-section">
<b>Changes to Our Privacy Policy</b>
<p>If we change our privacy policies and procedures, we will post those changes on this page to keep you aware of what information we collect, how we use it and under what circumstances we may disclose it. Changes to this Privacy Policy are effective when they are posted on this page.</p>
</div>

<p>If you have any questions about our practices or this privacy policy, please contact us at <u>privacy@vidactica.com</u></p>

</div>
</div>