<div class="transparent-background">
<div class="body-wrapper">
<h1 class="uppercase">sadf</h1>
<div class="row-fluid" style="margin-top:1%;">
	<div class="span6">
		<div class="pull-left">
			<div class="profile-pic">
				<img src="images/HomePictureOld.png" />
			</div>
			<div class="alert alert-success">
				<h4 class="alert-heading">Description:</h4>
				asdfasdfasdf
			</div>
		</div>
	</div>
	<div class="span6">
		<div class="pull-right">
			<div><h2><a href = "/pages/editBio">Edit Profile</a></h2></div>
			<div><strong>Rank:</strong> 0/ 5</div>
			<div><strong>Number of Sessions:</strong> 0</div>
		</div>
	</div>
</div>
</div>
</div>

