<div class="transparent-background">
<div class="body-wrapper">
<h1 class="uppercase">sadf</h1>
<div class="row-fluid" style="margin-top:1%;">
	<div class="span6">
		<div class="pull-left">
			<div class="profile-pic">
				<img src="images/HomePictureOld.png" />
			</div>
			<div class="alert alert-success">
				<h4 class="alert-heading">Description:</h4>
				asdfasdfasdf
			</div>
		</div>
	</div>
	<div class="span6">
		<div class="pull-right">
			<div><h2><a href = "/pages/editBio">Edit Profile</a></h2></div>
			<div><strong>Rank:</strong> 0/ 5</div>
			<div><strong>Number of Sessions:</strong> 0</div>
		</div>
	</div>
</div>
</div>
</div>

<button class="btn" data-toggle="collapse" data-target="#ques-sched">
	<h4 class="SmallFont">Questions Scheduled To Answer:</h3>
</button>
<div id="ques-sched" class="collapse in">
<ul class="nav nav-list" style="padding-left:0px;padding-right:0px;">
	<% if @qAnswer.empty? %>
		<li class="divider"></li>
	<%end%>
<% @qAnswer.each do |q| %>
<li><%=q.question%></li><form action="/tok/ScheduleAppointment" method= "get"><input type = "hidden" name = "qID" value = "<%= q.id %>" /><input class="btn" type="submit" value="Schedule" /></form>
<li class="divider"></li>
<%end%>
</ul>
</div>

<button class="btn" data-toggle="collapse" data-target="#prev-ques">
	<h4 class="SmallFont">Previously Asked Questions:</h4>
</button>
<div id="prev-ques" class="collapse in">
	<ul class="nav nav-list" style="padding-left:0px;padding-right:0px;">
		<% @qPrev.each do |q| %>
		<li><%=q.question%></li>
		<button class="btn" data-toggle="collapse" data-target="#notes">Notes</button>
		<div id="notes" class="collapse in"><%=q.notes%></div>
		<li class="divider"></li>
		<%end%>
	</ul>
</div>