<h1>Top Videos</h1>

<!--<script type="text/javascript" src="swfobject.js"></script>    
  <div id="ytapiplayer">
    You need Flash player 8+ and JavaScript enabled to view this video.
  </div>

  <script type="text/javascript">

    var params = { allowScriptAccess: "always" };
    var atts = { id: "myytplayer" };
    swfobject.embedSWF("http://www.youtube.com/v/T6MhAwQ64c0?enablejsapi=1&playerapiid=ytplayer&version=3",
                       "ytapiplayer", "425", "356", "8", null, null, params, atts);

  </script>-->
<div class="videos">
<div class="row-fluid">
	<div class="span4">
		<object style="height: 390px; width: 640px">
				<param name="movie" value="https://www.youtube.com/v/T6MhAwQ64c0?version=3&feature=player_embedded">
				<param name="allowFullScreen" value="true">
				<param name="allowScriptAccess" value="always">
				<embed src="https://www.youtube.com/v/T6MhAwQ64c0?version=3&feature=player_embedded" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="360" height="250">
		</object>
	</div>
	<div class="span4">
		<object style="height: 390px; width: 640px">
			<param name="movie" value="https://www.youtube.com/v/nx3GuO41Jyg?version=3&feature=player_embedded">
			<param name="allowFullScreen" value="true">
			<param name="allowScriptAccess" value="always">
			<embed src="https://www.youtube.com/v/nx3GuO41Jyg?version=3&feature=player_embedded" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="360" height="250">
		</object>
	</div>
	<div class="span4">
		<object style="height: 390px; width: 640px">
			<param name="movie" value="https://www.youtube.com/v/ZTC_RxWN_xo?version=3&feature=player_embedded">
			<param name="allowFullScreen" value="true">
			<param name="allowScriptAccess" value="always">
			<embed src="https://www.youtube.com/v/ZTC_RxWN_xo?version=3&feature=player_embedded" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="360" height="250">
		</object>
	</div>
</div>
</div>