  <script src="http://staging.tokbox.com/v0.91/js/TB.min.js"></script>
 
  <script type="text/javascript">

    var apiKey = '<%= $apiKey %>';
    var sessionId = '<%= @sessionID %>';
    var token = '<%= @token %>';   

	<% puts "Variables" %>
	<% puts $apiKey %>
	<% puts @sessionID %>
	<% puts @token %>        
 
    TB.setLogLevel(TB.DEBUG); // Set this for helpful debugging messages in console
 
    var session = TB.initSession(sessionId);      
    session.addEventListener('sessionConnected', sessionConnectedHandler);
    session.addEventListener('streamCreated', streamCreatedHandler);       
    session.connect(apiKey, token);
	
    var publisher;
 
    function sessionConnectedHandler(event) {
      alert('Connecting');
	publisher = session.publish("givDiv");
	subscribeToStreams(event.streams);
    } 

   function streamCreatedHandler(event) {
      // Subscribe to any new streams that are created
      subscribeToStreams(event.streams);
    }
     
    function subscribeToStreams(streams) {
      for (var i = 0; i < streams.length; i++) {
        // Make sure we don't subscribe to ourself
        if (streams[i].connection.connectionId == session.connection.connectionId) {
          continue;
        }
 
        // Create the div to put the subscriber element in to
        // var div = document.createElement('div');
        // div.setAttribute('id', 'stream' + streams[i].streamId);
        // document.body.appendChild(div);
                           
        // Subscribe to the stream
        session.subscribe(streams[i], "asker");
	  return;
      }
    }    
  </script>

<center>
  <div id="givDiv"></div>
  <div id="asker"></div>
</center>

<center>
<form id="rank" action="/" method= "get">
<input type="submit" value="Leave Session" />
</form>
</center>
