<script language="javascript" type="text/javascript" src="/javascripts/datetimepicker.js"></script>

<form action="/tok/Schedule" method= "GET">
<input id="first" name ="1" type="text" size="25" /><a href="javascript:NewCal('first','ddmmmyyyy',true,24)"><img src="/images/cal.gif" width="16" height="16" border="0" alt="Pick a date"></a>

<p>

<input id="second" name="2" type="text" size="25" /><a href="javascript:NewCal('second','ddmmmyyyy',true,24)"><img src="/images/cal.gif" width="16" height="16" border="0" alt="Pick a date"></a>

<p>

<input id="third" name="3" type="text" size="25" /><a href="javascript:NewCal('third','ddmmmyyyy',true,24)"><img src="/images/cal.gif" width="16" height="16" border="0" alt="Pick a date"></a>

<input type="hidden" name="qID" value="<%= params["qID"]%>" />

<input type="submit" value= "Submit"/>
</form>