<style type="text/css">
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
/*.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }*/
</style>

<script>
	function checkForm()
	{
		if (document.input.Slot1.value == "" && document.input.Slot2.value == "" && document.input.Slot3.value == "")
		{
			alert("Please post at least one schedule");
			return false;
		}
		else
		{
			document.getElementById("submitButton").disabled = true;
			document.getElementById("offset").value = ((new Date()).getTimezoneOffset())/60	;
			f.submit();
			return true;
		}
	}
</script>

<div class="transparent-background">
	<div class="body-wrapper">
		<div class="SmallFont" style="padding-top:5%;">Times that work for you:</div>
<form action="/tok/Schedule" name ="input" method= "GET" onSubmit="return checkForm();">
<% question = Question.find(params["qID"]) %>
<%schedule = question.schedules %>

<%(1..3).each do |i| %>

<script text="text/javascript">
	$(function() {
		$( "#<%=i%>" ).datetimepicker();
	});
</script>
	
<input class="search-query" style="cursor: pointer;" id="<%=i%>" name="Slot<%=i%>" type="text" size="25" readonly="readonly" placeholder="Click here to select times..."/>

<p>

<%end%>

<input type="hidden" id="offset" name="timeOffset" value="" />
<input type="hidden" name="qID" value="<%= params["qID"]%>" />
<input class="btn btn-inverse" type="submit" id= "submitButton" value= "Submit"/>

</form>

</div>
</div>
