Select the rating for your answer:
	<form name="input" action="/tok/submitRank" method="post">
		<select name="rank">
			<%(1..@numValues).each do |i|%>
				<option value="<%=(i).to_s%>"> <%=i.to_s%> </option>
			<%end%>
		</select>
		<input type="hidden" name = "qID" value=<%=params["qID"]%> />
		<input type="hidden" name = "user" value=<%=params["user"]%> />
		<input class="btn" type="submit" value="Submit" />
	</form>