Hi <%=@user.name%>,
<br><br> 
<b>YOU</b> are the newest member of <a href="vidactica.herku.com">Vidactica</a>, a community for interesting conversations. We're excited to have you as a member and can't wait to see what you post and vidact about.
<br><br> 
Thanks for joining and happy vidacting!
<br><br> 
— Vidactica Team

