<script type="text/javascript">
	
</script>

<div class="transparent-background">
	<div class="body-wrapper">
		<%if @user.id == @q.user_id%>
			<%id = @q.answer_id%>
		<%else%>
			<%id = @q.user_id%>
		<%end%>
		<%user = User.find(id)%>
		<%name = user.firstName + " " + user.lastName%>
		<h3 class="SmallFont" style="padding-top:10px;">With <a href="/bio?id=<%=id%>"><%=name%></a>: <%=@q.question%></h3>
		<center>
  			<div id="asker"></div>
  			<div id="answer"></div>
		</center>

		<center>
			<a id="leaveButton" href="/">
				<button class="btn">Leave Session</button> 
			</a>
		</center>

		<center>
			<div class="SmallFont">Notes:</div>
			<textarea id="notes" COLS=100 ROWS=10></textarea>
		</center>
	</div>
</div>