
<div class="transparent-background">
<center>
  <div id="asker"></div>
  <div id="answer"></div>
</center>

<center>
		<a id="leaveButton" href="/">
			<button class="btn">Leave Session</button> 
		</a>
		
</center>

<center>
	<div class="SmallFont">Notes:</div>
	<textarea id="notes" COLS=100 ROWS=10></textarea>
</center>
</div>