<footer>
	<div class="row-fluid">	
		<div class="span4">
	    	<h2>Ask For Advice</h2>
	           <%= image_tag("AskForAdvice.png", :alt => "ASK FOR ADVICE", :class => "round", :height => "80px", :width => "200px") %>
			<p>Submit a brief description of your questions or doubts</p>
			</div>
		<div class="span4">
	    	<h2>Provide Words of Wisdom</h2>
	           <%= image_tag("ProvideWordsOfWisodm.png", :alt => "PROVIDE WORDS OF WISDOM", :class => "round", :height => "80px", :width => "200px") %>
			<p>Browse through questions you want to help answer</p>
		</div>
		<div class="span4">
	    	<h2>Schedule Video-Chat Sessions</h2>
	           <%= image_tag("schedule.png", :alt => "WATCH TOP VIDEO SESSIONS", :class => "round", :height => "260px", :width => "200px") %>
			<p>Easily find and agree on a time that works for both users</p>
		</div>
	</div>
</footer>