<footer>
	<div class="body-wrapper">
	<div class="row-fluid">	
		<div class="span4">
	    	<h2>Post a Conversation Topic</h2>
	           <%= image_tag("AskForAdvice.png", :alt => "ASK FOR ADVICE", :class => "round", :height => "80px", :width => "200px") %>
			<p>Submit a topic you want to talk about</p>
			</div>
		<div class="span4">
	    	<h2>Browse Interesting Posts</h2>
	           <%= image_tag("ProvideWordsOfWisodm.png", :alt => "PROVIDE WORDS OF WISDOM", :class => "round", :height => "80px", :width => "200px") %>
			<p>Search for posts that spark your interest</p>
		</div>
		<div class="span4">
	    	<h2>Schedule Video-Chat Sessions</h2>
	           <%= image_tag("schedule.png", :alt => "WATCH TOP VIDEO SESSIONS", :class => "round", :height => "260px", :width => "200px") %>
			<p>Easily find a time that works for both users</p>
		</div>
	</div>
	</div>
</footer>