<footer>
	<div class="modal hide fade" id="login-modal">
		<div class="modal-header">
			<button class="close" data-dismiss="modal">&times;</button>
			<h3>Login</h3>
		</div>
		<div class="modal-body">
			<center>
				<form class="well" method="POST" action="/fb_registration/Remember">
					<span id="email-login">E-mail: <input type="text" name="user" size="15" /><br /></span>
					Password: <input type="password" name="pass" size="15" /><br />
					<p><input class="btn btn-inverse" type="submit" value="Login" /></p>
				</form>
				<div class="fb-login-button">
					<a data-toggle="modal" data-target="#facebook-modal" data-dismiss="modal" href = "#facebook-modal">
						<%= image_tag("signup-facebook-md.png", :width => "250") %>
					</a>
				</div>
				<div id="email-signup">
					<a data-toggle="modal" data-target="#register-modal" data-dismiss="modal" href = "#register-modal">
						Don't have a Facebook account? Sign Up with Email instead
					</a>
				</div>
			</center>
		</div>
	</div>
	<div class="body-wrapper">
	<div class="row-fluid">	
		<div class="span4">
	    	<h2 class="fredoka">Post a Conversation Topic</h2>
				<a data-toggle="modal" data-target="#login-modal" href = "#login-modal">
					<%= image_tag("AskForAdvice.png", :alt => "ASK FOR ADVICE", :class => "round", :height => "80px", :width => "200px") %>
				</a>
			<p>Submit a topic you want to talk about</p>
			</div>
		<div class="span4">
	    	<h2 class="fredoka">Browse Interesting Posts</h2>
				<a data-toggle="modal" data-target="#login-modal" href = "#login-modal">
	           		<%= image_tag("ProvideWordsOfWisodm.png", :alt => "PROVIDE WORDS OF WISDOM", :class => "round", :height => "80px", :width => "200px") %>
				</a>
			<p>Search for posts that spark your interest</p>
		</div>
		<div class="span4">
	    	<h2 class="fredoka">Schedule Video-Chat Sessions</h2>
				<a data-toggle="modal" data-target="#login-modal" href = "#login-modal">
	           		<%= image_tag("schedule.png", :alt => "WATCH TOP VIDEO SESSIONS", :class => "round", :height => "260px", :width => "200px") %>
				</a>
			<p>Easily find a time that works for both users</p>
		</div>
	</div>
	</div>
</footer>