<header>
	<div class="fb-like" data-href="http://vidactica.heroku.com/" data-send="true" data-width="450" data-show-faces="false"></div>
  	<h1> Vidactica </h1> 
  	<div class="h_navigation">
		<ul>
			<li><a href="/"><%= image_tag("home_icon.png", :alt => "Home", :height => "15px", :width => "14px") %><b>Home</b></a></li>
			<%if cookies[:name]  %>	
      			<li><a class="profile_icon" href="/bio"><%= image_tag("profile_icon.png", :alt => "Profile", :height => "18px", :width => "18px") %> <b><%= cookies[:name] %><b></a></li>
				<li><a href= "/fb_registration/Logout"><b>LOGOUT <b></a></li>
			<%else%>
				<li><a href="/fb_registration/Login"><%= image_tag("profile_icon.png", :alt => "LOGIN", :height => "18px", :width => "18px") %><b>LOGIN</b></a></li>
			<%end%>
    	</ul>
  	</div>
</header>

